
<head>
  
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        .container {
            margin-top: 100px;
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        .icon {
            font-size: 50px;
            color: green;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 24px;
            margin: 10px 0;
            color: #333333;
        }

        p {
            font-size: 16px;
            color: #555555;
            margin: 5px 0;
        }

        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .btn {
            display: inline-block;
            margin-top: 20px;
            background-color: #ffcc00;
            color: #333333;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
        }

        .btn:hover {
            background-color: #ffb700;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="icon">✔️</div>
        <h1>ORDER CONFIRMED</h1>
         <p>your order placed successfully</p>
        <a href="/order/?id=<%= orderId%>" class="check-orders">Check Orders</a>
        <br>
        <a href="/shop" class="btn">CONTINUE SHOPPING</a>
    </div>
</body>
</html>
