<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link href="css/signup.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form id="signupform">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="name" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="number" name="phone" placeholder="Phone" required="">

					<div class="password-field">
					<input type="password" id="password" name="password" placeholder="Password" required="">
					<span class="toggle-password" onclick="togglePassword()">
						<i class="fas fa-eye" id="password-icon"></i>
					  </span>
					  </div>
					<button type="submit">Sign up</button>
					<p class="text-center">
						Already have an account? <a href="/login" class="text-primary">Sign in</a>
					  </p>
				</form>
			</div>

			
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script>
function togglePassword() {
  const passwordInput = document.getElementById('password');
  const passwordIcon = document.getElementById('password-icon');

  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
    passwordIcon.classList.remove('fa-eye');
    passwordIcon.classList.add('fa-eye-slash'); 
  } else {
    passwordInput.type = 'password';
    passwordIcon.classList.remove('fa-eye-slash');
    passwordIcon.classList.add('fa-eye'); 
  }
}


$(document).ready(function () {
  $('#signupform').on('submit', function (e) {
    e.preventDefault();
const name = $('input[name="name"]').val();
    const email = $('input[name="email"]').val();
    const phone = $('input[name="phone"]').val();
    const password = $('input[name="password"]').val();

	$.ajax({
        url: '/signup',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ name,email,phone,password }),
        success: function (result) {
				const userId = result.userId;

                window.location.href=`/otpverify?id=${userId}`
           
        },
        error: function (xhr, status, error) {
            console.error('Error while signup:', error);
            alert('Something went wrong. Please try again later.');
        },
    });
})
})
		</script>
</body>
</html>